.catalog {
  overflow-y: scroll;
  height: calc(100vh - 113px);
  background-color: #f8f9fa;
  margin-top: 113px;
}

.catalog-no-result {
  width: 100%;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 113px);
  background-size: contain;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61d5df;
}
