.catalog__item-wraper {
  cursor: pointer;
  position: relative;
  margin: 20px;
  height: 450px;
  padding: 1px;
  border: 1px solid rgba(112, 112, 112, 0.12);
  border-radius: 10px;
}
.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.catalog__item-wraper:hover {
  border: 2px solid #61d5df;
  padding: 0;
  border-radius: 10px;
}

.edit-quantity {
  position: absolute;
  top: 65px;
}

.catalog__item-wraper:hover .catalog__checkbox {
  display: block;
}

.catalog__item-wraper:hover .catalog__add {
  display: block;
}

.checkbox__unhiden {
  display: block;
}

.catalog__img {
  max-width: 100%;
  height: 180px;
  margin-top: 60px;
}

.catalog__title {
  padding: 10px;
  height: 55px;
  width: 100%;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.border_visible {
  border: 2px solid #61d5df;
  padding: 0;
  border-radius: 10px;
}

.catalog__details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #a6a6a6;
  font-family: Gilroy, serif;
  font-size: 18px;
}

.catalog__profit:last-child {
  color: #61d5df;
}

.catalog__RRP :first-child {
  color: #616161;
}

.catalog__price :first-child {
  color: #616161;
}

.catalog__price:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #dbdbdb;
  transform: translate(-15px, 10px);
}

.catalog__profit:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #dbdbdb;
  transform: translate(-15px, 10px);
}

.catalog__provider-name {
  color: #61d5df;
  text-decoration: underline;
}

.catalog__provider {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.filter__category a {
  text-decoration: none;
}
