.catalog__checkbox {
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
  top: 5px;
  left: 40px;
  display: none;
}

.displayBlock {
  display: block;
}

.checked_shadow::after {
  /* background-image: url(https://i.gifer.com/3q62.gif);
  content: "";
  position: absolute;
  width: 152px;
  height: 152px;
  right: 0;
  transform: rotate(270deg);
  background-position: center;
  background-size: cover; */

  /* content: "";
  position: absolute;
  width: 15px;
  height: 152px;
  right: 0;

  background-position: center;
  background-size: cover;
  background: #61d5df; */
}

.margin_right {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}
.checked_shadow {
  /* box-shadow: inset 0px 0px 20px 0px #dac093; */
  border-top: 2px solid #61d5df;
  border-bottom: 2px solid #61d5df;
  box-shadow: inset -13px 0px 0px 0px #61d5df;
  border-left: 2px solid #61d5df;
}
