.modal__left {
  padding: 15px 35px 35px 35px;
  display: flex;
  flex: 350px 1;

  flex-direction: column;
  align-items: center;
}

.modal__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 550px 1;
  margin-top: 30px;
  padding: 30px;
  height: 500px;
  width: 1286px;
}

.modal {
  display: flex;
  flex-wrap: wrap;
}

.modal__left img {
  margin-top: 50px;
  max-width: 300px;
  max-height: 300px;
}

.modal__left-header {
  border-radius: 5px;
  box-shadow: 0px 2px 17px 2px #eaeaea;
  margin-top: 50px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  color: #707070;
}

.modal__description {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  overflow: auto;
  height: 200px;
}

.fa-times:hover {
  color: #61d5df;
}
.fa-times {
  position: absolute;
  right: 10px;
  top: 5px;
}

.modal__left-header :nth-child(2) :last-child {
  color: #b1b1b1;
}

.modal__left-header :nth-child(1) :last-child {
  color: #b1b1b1;
}

.modal__left-header :last-child {
  color: #61d5df;
}

.modal__supplier {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.modal__supplier p:nth-child(1) {
  color: #707070;
}

.modal__supplier-details span:last-child {
  color: #61d5df;
}

.modal__details-header {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.modal__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal__details-header div {
  padding-bottom: 20px;
  margin-right: 40px;
}

.modal__details--active {
  border-bottom: 1px solid black;
  color: black;
}
