.profile-header {
  height: 83px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dde3ee;
  border-left: 1px solid #dde3ee;
  align-items: center;
}

.profile-header__text {
  margin-left: 45px;
}
