.cart__item:hover .catalog__checkbox {
  display: block;
  background: "red";
}

.cart__item {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.backgounrd_color {
  background-color: #f0f1f9;
}

/* body {
  overflow: hidden;
} */
