.filters__shiping {
  background-color: #ecedf5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
}

.filters__shiping > * {
  margin-top: 20px;
}

.filters__select {
  color: #595e73;
  border: 1px solid #dbe0f3;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.filters__ship-countries img {
  width: 15px;
}

.filters__ship-countries {
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 15px;
}

.filters__ship-countries::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #c7d0f3;
  transform: translate(9px, -11px);
}

.dropdown__display {
  background-color: #fff;
  width: 100%;
}

.dropdown__display * {
  margin-left: 5px;
}

.filters__select-text {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 8px 5px 8px 5px;
}
