.filters__dropdown--categories {
  background-color: #9da9d5;
}

.filters__dropdown--niche {
  background-color: #5d6b9f;
}

.filters__dropdown {
  display: flex;
  justify-content: space-between;
  height: 52px;
  font-size: 16px;
  padding: 15px 25px 15px 25px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.filter__category {
  border-bottom: 1px solid #dbdce4;
  padding-bottom: 15px;
  box-shadow: 0px 2px 3px #dbdce4;
}

.filter__category div {
  cursor: pointer;
  padding: 10px 35px;
  color: #49547d;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.filter__category div:hover {
  background-color: #dbdff2;
}
