.filters {
  width: 257px;
  height: 100vh;

  overflow-x: hidden;
  background-color: #ecedf5;
}

.filters__btn {
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .filters {
    display: none;
  }
}

.drawerFilters {
  display: block;
  width: 100%;
}
