.filters__slider-numbers {
  display: flex;
  justify-content: space-between;
}

.MuiSlider-thumbColorPrimary {
  color: #49547d;
}
.MuiSlider-track {
  color: #848ca8;
}

.MuiSlider-rail {
  color: #abb0c5;
}

.filters__price-text {
  background: white;
  color: #65737e;
}
.filters__price-text span {
  padding: 10px;
  border: 1px solid #ecedf5;
}
