.home {
  width: 100%;
  text-align: -webkit-center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__text {
  width: 70%;
  height: 300px;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  background-color: rgba(14, 14, 39, 0.39);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

.home__text img {
  width: 150px;
}

@media screen and (max-width: 959px) {
  .home__text {
    font-size: 20px;
  }
  .home__text img {
    width: 100px;
  }
}
