#burgerMenu {
  width: 30px;
  height: 20px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 50000;
  display: none;
  right: 35px;
  top: 25px;
}

#burgerMenu span {
  width: 30px;
  height: 2px;
  background-color: #333333;
  margin: 0;
  display: block;
  position: absolute;
  border-radius: 9px;
  opacity: 1;
  z-index: 50000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burgerMenu span:nth-child(1) {
  top: 0px;
  right: 0px;
}

#burgerMenu span:nth-child(2),
#burgerMenu span:nth-child(3) {
  top: 7px;
  width: 25px;
}

#burgerMenu span:nth-child(4) {
  top: 14px;
}

#burgerMenu.open span:nth-child(1) {
  top: 10px;
  opacity: 0;
}

#burgerMenu.open span:nth-child(2) {
  width: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burgerMenu.open span:nth-child(3) {
  width: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burgerMenu.open span:nth-child(4) {
  top: 10px;
  opacity: 0;
}

@media screen and (max-width: 1070px) {
  #burgerMenu {
    z-index: 50000;

    display: block;
  }
}

@media screen and (min-width: 1070px) {
  .Drawer {
    display: none;
  }
}
