.search-sort {
  position: fixed;
  width: calc(100% - 312px);
}

@media (max-width: 1070px) {
  .search-sort {
    width: calc(100% - 257px);
  }
}

@media (max-width: 959px) {
  .search-sort {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .search-sort__searchbar {
    flex-basis: 350px;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 480px) {
  .search-sort__searchbar input {
    width: 150px;
  }
}

.search-sort__selected-number::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 24px;
  background-color: #dbdcdc;
  transform: translate(-10px, 1px);
}

@media (max-width: 1370px) {
  .search-sort__search {
    font-size: 14px;
  }
}
