.search-sort__searchbar input {
  height: 40px;
  border: 1px solid rgba(95, 102, 115, 0.1);
  border-radius: 6px;
  flex-grow: 1;
  outline: none;
}

.search-sort__searchbar {
  display: flex;
  align-items: center;
  flex-basis: 400px;
}

.search-sort__search {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding: 0px 25px 0 25px;
  background-color: #f8f9fa;
}

.fa-search {
  color: rgb(216, 216, 216);
  transform: rotate(103deg);
  cursor: pointer;
}

.search-sort__searchbar i {
  color: rgb(216, 216, 216);
  cursor: pointer;
  transform: translateX(-25px) rotate(103deg);
}

#closeSearch {
  position: relative;
  color: rgb(226, 226, 226);
  cursor: pointer;
}

.search-sort__search-small {
  display: flex;
}

.search-sort__search-small input {
  outline: none;
  border: none;
  height: 27px;
}
