.search-sort__sort {
  display: flex;
}

.search-sort__select {
  margin-left: 20px;
  border: none;
  appearance: none;
  color: #9b9fa8;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 25px;
  outline: none;
  cursor: pointer;
}

.fa-sort {
  margin-left: -10px;
}
