.nav {
  flex-basis: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-evenly;
}

.nav__logo img {
  width: 42px;
  margin-left: 6px;
}

.nav__logo {
  padding-bottom: 30px;
  border-bottom: 1px solid #dde3ee;
  place-self: stretch;
}

.logo {
  width: 100%;
}

.nav__profile img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  padding: 3px;
  border: 1px solid #61d5df;
}

@media screen and (max-width: 1070px) {
  .nav {
    display: none;
  }
}
